@use "./tinymce.scss";

.scroll-locked {
  overflow: hidden !important;
  /* For iOS momentum scrolling */
  position: fixed !important;
  width: 100% !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.bg-none {
  background-color: transparent !important;
}
.truncate-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.hover-shadow {
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transform: scale(1);
}

.hover-shadow:hover {
  box-shadow: 0 6px 16px rgba(60, 60, 60, 0.18);
  transform: scale(1.01);
}

.scroll-x {
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* Vuetify 'lg' breakpoint starts at 1280px (default) */
  .col-lg-1-5 {
    /* 100% / 5 items = 20% width */
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.fab,
.scroll-to-top {
  position: fixed;
  right: 10px;
  z-index: 99;
}
.survey-fab {
  position: fixed;
  right: 10px;
  bottom: 180px;
  z-index: 100;
  position: fixed;
  width: 60px;
  background-color: #e67525;
  border-radius: 10px;
}

.fab {
  bottom: 80px;
}

.scroll-to-top {
  bottom: 130px;
}

/* Desktop overrides */
@media (min-width: 960px) {
  .fab {
    bottom: 30px;
    right: 30px;
  }

  .scroll-to-top {
    bottom: 80px;
    right: 30px;
  }
  .survey-fab {
    position: fixed;
    bottom: 130px;
    right: 30px;
    z-index: 100;
    width: 60px;
    background-color: #e67525;
  }
}
